{% extends "base.html" %} {% block title %}To Do | Reset Password Request{%
endblock title %} {% block content %}
<div class="header-bar">
  <h1>Reset Password</h1>
</div>

<div class="card-body">
  {% include "_flashes.html" %}
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.password.label }}{{ form.password() }}<br />
      {% for error in form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.confirm_password.label }}{{ form.confirm_password() }}<br />
      {% for error in form.password.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit(class="button") }}</p>
  </form>
</div>
{% endblock content %}
